<% content_for :title, "úprava budovy" %>

<h1>Úprava budovy</h1>

<%= render "form", building: @building %>

<br>

<div>
  <%= link_to "Detail budovy", @building %> |
  <%= link_to "Zpět na seznam budov", buildings_path %>
</div>
